* {
    --dark-green: #596D48;
    --light-gray-border: #E5E7EB;

}

@font-face {
    font-family: 'Norse-Bold';
    src: url(./fonts/Norse-Bold.woff) format('woff');
}
body {
    display: flex;
}
#img-container {
    margin: 0;
    height: 100vh;
    width: 70%;
    right: auto;
    background-image: url("./images/halie-west-25xggax4bSA-unsplash.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
}

img {
    height: 90%;
    width: auto;
}

#logo-container {
    width: 100%;
    height: 150px;
    margin-top: 200px;
    background-color: rgba(9, 9, 9, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo {
    font-family: 'Norse-Bold';
    color: white;
    font-size: 100px;
    margin-top: .5rem;
}
#credit, #credit>a {
    font-size: 0.8rem;
    color: white;
    margin-top: auto;
    margin-bottom: .5rem;
}
#page-content {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    font-size: 1.5rem;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 0;
}
#page-content>div {
    padding-left: 3em;
}
#header {
    margin-top: 4em;
    margin-right: 15em;
    margin-bottom: 1em;
}
#form-container {
    background-color: white;
    margin-left: 0;
    box-shadow:
    0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075),
    0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075),
    0 16px 16px hsl(0deg 0% 0% / 0.075);
    border-top: 1px solid var(--light-gray-border);
}
form {
    display: flex;
    
}
input, label {
    display: block;
}
label {
    font-size: .5em;
}
input {
    width: 20rem;
    height: 1.5rem;
    border: 1px solid var(--light-gray-border);
    border-radius: 3px;
    margin-top: 5px;
}
input:invalid {
    border: 1px solid red;
}
input:focus {
    border: 1px solid rgb(0, 102, 255);
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0px;
}
li {
    margin: 1rem;
}
button {
    width: 20em;
    height: 4em;
    margin-top: 3em;
    border: none;
    background-color: var(--dark-green);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    box-shadow:
      0 1px 1px hsl(0deg 0% 0% / 0.075),
      0 2px 2px hsl(0deg 0% 0% / 0.075),
      0 4px 4px hsl(0deg 0% 0% / 0.075),
      0 8px 8px hsl(0deg 0% 0% / 0.075),
      0 16px 16px hsl(0deg 0% 0% / 0.075)
}
button:hover {
    background-color: #82a068;
    cursor: pointer;
}
#button-container>p {
    font-size: 0.75em;
}
#button-container>p>a {
    color: var(--dark-green);
    text-decoration: none;
    font-weight: 600;
}
#button-container>p>a:hover {
    color: #82a068;
}